* {
  background-color: black;
}

main {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-family:'Times New Roman', Times, serif;
  color: lightgray;

}

header, footer, h2 {
  text-align:center;
}

header {
  color: yellow;
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
  border: 5px double lightgray;

}

h1 {
  font-size: 50px;
}

h1,h3,header {
  background-color: black;
}

footer {
  color: lightgray;
}

hr {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

.image {
  display: block;
  height:750px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.self {
  margin-top: 50px;
}

.image:hover {
  position: relative;
  bottom: 4px;
  left: 4px;
}

a {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -2px;
  color: yellow;
}

a:hover {
  text-decoration: none;
}

